{% extends "layout.html" %}

{% block header %}
<div class="container-fluid h-75 text-center text-white border rounded" id="about-bg">
    <div class="about-header-bg container-fluid h-100"></div>
    <div class="container position-absolute top-50 start-50 translate-middle about-header-text">
        <h1 class="fs-1">About Me</h1>
        <p class="col-lg-8 mx-auto lead font-monospace">Share your experience of CS50.</p>
        
    </div>
</div>
{% endblock header %}

{% block content %}
<div class="container my-5 rounded-5 shadow p-5 bg-body-tertiary">
    <div class="row">
        <div class="col-6">
            <div class="col my-5 about-header-text">
                <h1 class="text-center"><u>Be Amazing</u></h1>
            </div>
            <div class="col my-5">
                <p>
                    <i>"Every good idea was founded on something the current marketplace might/ might not yet need".</i>
                </p>
                <p>
                    And that’s what makes your story truly unique.Think about the idea that made all of this happen and use this “aha!” moment as a focus point when telling your company story.
                </p>
                <p>
                    What was a challenge you faced while developing your company? How did this challenge or discovery shape what you are today?"
                </p>
                <!-- Used material from this site: https://blog.hubspot.com/marketing/remarkable-about-us-page-examples -->
            </div>
        </div>
        <div class="col-6 about-create">
            <div class="container position-relative top-50 start-50 translate-middle mx-5 about-header-text">
                <h1 class="text-light">Create Something Beautiful.</h1>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}