{% extends "layout.html" %}

{% block header %}
<div class="container-fluid h-75 object-fit-contain text-center border rounded" id="home-bg">
    <div class="home-header-bg container-fluid h-100"></div>
    <div class="container position-absolute top-50 start-50 translate-middle home-header-text">
        <h1 class="fs-1">Contact Me</h1>
        <p class="col-lg-8 mx-auto lead font-monospace">Share your experience of CS50.</p>
        <div class=" container mx-auto rounded home-header-p-bg">
            <p class=" home-header-p">Share your high and low times, how you recovered. What's your plan next after
                completing
                CS50? </p>
        </div>
    </div>
</div>
{% endblock header %}

{% block content %}
{% endblock %}