{% extends "layout.html" %}

{% block header %}
<div class="container-fluid text-center text-white border rounded" id="contact-bg">
    <div class="contact-header-bg container-fluid h-100"></div>
    <div class="container position-absolute top-50 start-50 translate-middle contact-header-text">
        <h1 class="fs-1">Contact Me</h1>
        <p class="col-lg-8 mx-auto lead font-monospace">Share your thought.</p>
        <div class=" container mx-auto rounded contact-header-p-bg">
            <p class=" contact-header-p">Your feedback is very important to us.</p>
        </div>
    </div>
</div>

{% endblock header %}

{% block content %}
{% endblock %}