{% extends "layout.html" %}

{% block header %}
<div class="container-fluid text-center text-white border rounded" id="post-bg">
    <div class="post-header-bg container-fluid h-100"></div>
    <div class="container position-absolute top-50 start-50 translate-middle post-header-text {{ update }}">
        {% if value == "Update" %}
        <h1 class="fs-1">Edit Post</h1>
        <p class="col-lg-8 mx-auto lead font-monospace">Updating - {{ post.title }}</p>
        {% else %}
        <h1 class="fs-1">Create New Post</h1>
        <p class="col-lg-8 mx-auto lead font-monospace">What would you like to share today?</p>
        {% endif %}
    </div>
</div>
{% endblock header %}

{% block content %}
<div class="container my-5">
    <div class="w-75 mx-auto my-10 d-flex">
        <main class="form-signin w-100 h-50 align-self-center">
            <form action="" method="POST" novalidate>
                <fieldset class="form-group">
                    {{ form.hidden_tag() }}
                    <legend class="bottom-border mb3 text-center">Something you would like to share?...</legend>

                    <!-- Heading Section -->
                    <div class="form-group pt-1">
                        {{ form.heading.label(class_="floatingInput") }}
                        {% if form.heading.errors %}
                        {{ form.heading(class_="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.heading.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.heading(class_="form-control form-control-lg", aria_describedby="headingHelp") }}
                        <div id="headingHelp" class="form-text">Can contain max 50 words. Required.</div>
                        {% endif %}
                    </div>

                    <!-- Description Section -->
                    <div class="form-group pt-1">
                        {{ form.description.label(class_="floatingInput") }}
                        {% if form.description.errors %}
                        {{ form.description(class_="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.description.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.description(class_="form-control form-control-lg", aria_describedby="descriptionHelp") }}
                        <div id="descriptionHelp" class="form-text">Can contain max 240 words. Required.</div>
                        {% endif %}
                    </div>

                    <!-- Post Image URL Section -->
                    <div class="form-group pt-1">
                        {{ form.post_image.label(class_="floatingInput") }}
                        {% if form.post_image.errors %}
                        {{ form.post_image(class_="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.post_image.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.post_image(class_="form-control form-control-lg" ,aria_describedby="imageUrlHelp") }}
                        <div id="imageUrlHelp" class="form-text">Make sure that image is atleast 1080p size. Required.</div>
                        {% endif %}
                    </div>

                    <!-- Content Section -->
                    <div class="form-group pt-1">
                        {{ form.content.label(class_="floatingInput") }}
                        {{ form.content(class_="form-control form-control-lg") }}
                    </div>
                    {% if value == "Create" %}
                    {{ form.submit(class_="btn btn-primary w-100 py-2 mt-3", value="Create Post") }}
                    {% else %}
                    {{ form.submit(class_="btn btn-primary w-100 py-2 mt-3", value="Update Post") }}
                    {% endif %}
                    <div class="form-group pt-1 w-100 h-50">
                        
                    </div>
                </fieldset>
            </form>
            {{ ckeditor.load() }}
            {{ ckeditor.config(name="content", height=500) }}
        </main>
    </div>
</div>
{% endblock %}