{% extends "layout.html" %}

{% block header %}
<div class="container-fluid h-75 object-fit-contain text-center border rounded" id="home-bg">
    <div class="home-header-bg container-fluid h-100"></div>
    <div class="container position-absolute top-50 start-50 translate-middle home-header-text">
        {% if current_user.is_authenticated %}
        <h1 class="fs-1">Welcome {{ current_user.username }}</h1>
        {% else %}
        <h1 class="fs-1">Welcome</h1>
        {% endif %}
        <p class="col-lg-8 mx-auto lead font-monospace">Share your experience of CS50.</p>
        <div class=" container mx-auto rounded home-header-p-bg">
            <p class=" home-header-p">Share your high and low times, how you recovered. What's your plan next after
                completing
                CS50? </p>
        </div>
    </div>
</div>
{% endblock header %}

{% block content %}
<div class="container col-7 my-5">
    {% for post in posts %}
    <div
        class="position-relative text-muted bg-body border border-dashed rounded-5 shadow py-5 mb-5 bg-body-tertiary row justify-content-md-center">
        <div class="col-auto d-flex flex-column">
            <img src="{{ url_for('static', filename='profile_pics/' + post.author.profile_photo) }}" alt="mdo"
                width="70" height="70" class="rounded-circle mt-4 mx-auto">
            <a href="#" class="link-body-emphasis text-center text-decoration-none mt-3" aria-expanded="false">
                {{ post.author.username }}
            </a>
        </div>


        <div class="col-7 mx-5">
            <!-- Button X - Used for deleting post - Post Author Verification -->
            {% if current_user.id == post.author_id %}
            <button type="button"
                class="position-absolute top-0 end-0 p-3 m-3 btn-close bg-secondary bg-opacity-10 rounded-pill"
                aria-label="Close" data-bs-toggle="modal" data-bs-target="#deleteModal"></button>
            {% endif %}
            <h2 class="text-black">{{ post.title }}</h2>
            <p class="col-6 mb-4 fs-5">{{ post.description}}</p>
            <div class="col d-flex justify-content-end">
                <!-- Update Button - Checks for author verification -->
                {% if current_user.id == post.author_id %}
                <form action="{{ url_for('update_post', post_id=post.id) }}" method="GET">
                    <button class="btn btn-primary px-auto mb-3 mx-2" type="submit">
                        Update
                    </button>
                </form>
                {% endif %}
                <form action="{{ url_for('show_post', post_id=post.id) }}" method="GET">
                    <button class="btn btn-primary px-auto mb-3" type="submit">
                        Know More
                    </button>
                </form>
            </div>
        </div>
    </div>
    {% include "delete_modal.html" %}
    {% endfor %}
</div>


{% endblock %}