{% extends "layout.html" %}

{% block header %}
<div class="container-fluid h-75 object-fit-contain text-center border rounded" id="home-bg">
    <div class="home-header-bg container-fluid h-100"></div>
    <div class="container position-absolute top-50 start-50 translate-middle home-header-text">
        <h1 class="fs-1">Welcome</h1>
        <p class="col-lg-8 mx-auto lead font-monospace">Share your experience of CS50.</p>
        <div class=" container mx-auto rounded home-header-p-bg">
            <p class=" home-header-p">Share your high and low times, how you recovered. What's your plan next after
                completing
                CS50? </p>
        </div>
    </div>
</div>
{% endblock header %}

{% block content %}
<div class="container col-7 my-5">
    <div
        class="position-relative text-muted bg-body border border-dashed rounded-5 shadow py-5 mb-5 bg-body-tertiary row justify-content-md-center">
        <div class="col-auto">
            <div class="row py-2 mt-3">
                <img src="https://github.com/mdo.png" alt="mdo" width="70" height="70" class="rounded-circle">
            </div>
            <div class="row py-2">
                <a href="#" class=" link-body-emphasis text-decoration-none" aria-expanded="false">
                    #Username
                </a>
            </div>
        </div>

        <div class="col-7 mx-5">
            <button type="button"
                class="position-absolute top-0 end-0 p-3 m-3 btn-close bg-secondary bg-opacity-10 rounded-pill"
                aria-label="Close"></button>
            <h1 class="text-body-emphasis"><u>paragraph of placeholder text</u></h1>
            <p class="col-6 mx-auto mb-4">
            <p>And yet, here you are, still persevering in reading this placeholder text, hoping for some more
                insights, or
                some hidden easter egg of content. A joke, perhaps. Unfortunately, there's none of that here.</p>
            <p>And yet,
                here
                you are, still persevering in reading this placeholder text, hoping for some more insights, or some
                hidden
                easter egg of content. A joke, perhaps. Unfortunately, there's none of that here.</p>
            </p>
            <div class="col d-flex justify-content-end">
                <button class="btn btn-primary px-5 mb-3" type="button">
                    Know More
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}