{% extends "layout.html" %}

{% block header %}
<div class="container-fluid h-75 text-center text-white border rounded" id="post-bg">
    <div class="post-header-bg container-fluid h-100"></div>
    <div class="container position-absolute top-50 start-50 translate-middle post-header-text">
        <h1 class="fs-1">Create New Post</h1>
        <p class="col-lg-8 mx-auto lead font-monospace">What would you like to share today?</p>
        
    </div>
</div>
{% endblock header %}

{% block content %}
<div class="container h-75">
    <div class="w-75 h-75 mx-auto my-10 d-flex">
        <main class="form-signin w-100 h-50 align-self-center">
            <form action="" method="POST" novalidate>
                <fieldset class="form-group">
                    {{ form.hidden_tag() }}
                    <legend class="bottom-border mb3 text-center">Something you would like to share?...</legend>

                    <!-- Heading Section -->
                    <div class="form-group pt-1">
                        {{ form.heading.label(class="floatingInput") }}
                        {% if form.heading.errors %}
                        {{ form.heading(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.heading.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.heading(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>

                    <!-- Description Section -->
                    <div class="form-group pt-1">
                        {{ form.description.label(class="floatingInput") }}
                        {% if form.description.errors %}
                        {{ form.description(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.description.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.description(class="form-control form-control-lg bottom-border") }}
                        {% endif %}
                    </div>

                    <!-- Content Section -->
                    <div class="form-group pt-1">
                        {{ form.content.label(class="floatingInput") }}
                        {{ form.content(class="form-control form-control-lg") }}
                    </div>
                    {{ form.submit(class="btn btn-primary w-100 py-2 mt-3") }}
                    <div class="form-group pt-1 w-100 h-50">
                        
                    </div>
                </fieldset>
            </form>
            {{ ckeditor.load(custom_url=url_for('static', filename='ckeditor/ckeditor.js')) }}
            {{ ckeditor.config(name="content") }}
        </main>
    </div>
</div>
{% endblock %}