{% extends "layout.html" %}

{% block header %}
{% endblock header %}

{% block content %}
<div class="container my-5">
    <div class="w-25 mx-auto d-flex">
        <main class="form-signin w-100 align-self-center">
            
            <form action="" method="POST" novalidate>
                <fieldset class="form-group">
                    <legend class="bottom-border mb3 text-center">Join Us Today</legend>

                    {{ form.hidden_tag() }}
                    <h1 class="h4 mb-3 text-center fw-normal"></h1>
                    <!-- Username Section -->
                    <div class="form-group">
                        {% if form.username.errors %}
                            {{ form.username(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.username.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.username(class="form-control form-control-lg", placeholder="Enter username", aria_describedby="usernameHelper") }}
                            <div id="usernameHelper" class="form-text">Username max length of 20</div>
                        {% endif %}
                    </div>

                    <!-- Email Section -->
                    <div class="form-group pt-1">
                        {% if form.email.errors %}
                            {{ form.email(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="form-control form-control-lg", placeholder="Enter email") }}
                        {% endif %}
                    </div>

                    <!-- Password Section -->
                    <div class="form-group pt-1">
                            {% if form.password.errors %}
                            {{ form.password(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.password(class="form-control form-control-lg", placeholder="Enter password") }}
                        {% endif %}
                    </div>

                    <!-- Conform Password Section -->
                    <div class="form-group py-1">
                            {% if form.confirm_password.errors %}
                            {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.confirm_password.errors %}
                                    <span>{{ error }}</span>
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.confirm_password(class="form-control form-control-lg", placeholder="Enter password again") }}
                        {% endif %}
                    </div>
                    {{ form.submit(class="btn btn-primary w-100 my-3 py-2") }}
                    <div class="mb-3 text-body-secondary">
                        Already a User? Please <a href="{{ url_for('users.login') }}">Sign In</a> here.
                    </div>

                </fieldset>
            </form>
        </main>
    </div>
</div>
{% endblock %}