{%extends "layout.html" %}

{% block header %} {% endblock header %}
{% block content %}
<div class="container col-7 my-5">
    <div class="position-relative text-muted row justify-content-md-center">
        <div class="col-7 mx-5">
            <form action="" method="POST" novalidate>
                <fieldset class="form-group">
                    {{ form.hidden_tag() }}
                    <legend class="bottom-border mb3 text-center">Reset Password</legend>

                    <!-- Password Section -->
                    <div class="form-group pt-1">
                        {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.password(class="form-control form-control-lg", placeholder="Enter password") }}
                        {% endif %}
                    </div>

                    <!-- Confirm Password Section -->
                    <div class="form-group py-1">
                        {% if form.confirm_password.errors %}
                        {{ form.confirm_password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.confirm_password.errors %}
                            <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                        {% else %}
                        {{ form.confirm_password(class="form-control form-control-lg", placeholder="Enter confirm password") }}
                        {% endif %}
                    </div>
                    {{ form.submit(class="btn btn-primary w-100 py-2") }}
                </fieldset>
            </form>
        </div>
    </div>
</div>
{% endblock content%}